@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');

body {
  font-family: 'Inter', sans-serif;
  color: #333;
  background: #F3FAFF;

  ::placeholder {
    font-family: 'Inter', sans-serif;
    color: #878787;
  }

  textarea {
    resize: none;
    background: #ededed;
    border: none;
    border-radius: 15px;
    border: 1px solid #C4C4C4;
    width: 15em;
    height: 14em;
    outline: none;
    padding: 1em;
    font-family: "Inter", sans-serif;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    a {
      color: #00B4DB;
      text-decoration: none;
    }

    .logo {
      align-items: center;
      display: flex;
      justify-content: center;

      img {
        width: 4em;
      }

      p{
        font-size: 1.5em;
        color: #48B2FE;
      }
    }

    ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      width: 40%;
    }

    .active {
      a {
        color: #83CBFF;
      }
    }

    .profile-section {
      display: flex;
      align-items: center;

      div {
        margin: 0 1em;
      }

      .dropdown {
        width: 1em;
      }

      .darkmode {
        width: 2em;
      }

      .profile {
        width: 2.5em;
      }

      .profile-container {
        align-items: center;
        display: flex;
        justify-content: center;
      }
    }
  }

  form {
    background: #ffffff;
    border-radius: 20px;
    padding: 2em;
    width: 35em;
    box-shadow: 0px 4px 10px 0px #00000040;
    margin: 0 auto;
    margin-top: 3em;

    h1 {
      color: #767676;
      margin-bottom: 1.5em;
    }

    .form-wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    .left-form {
      div {
        margin-bottom: 2em;
      }
    }

    .right-form {
      margin: 0 auto;
    }

    button {
      margin: 1em auto;
      padding: 0.8em;
      background: #36ABFF;
      color: white;
      border: none;
      border-radius: 20px;
      width: 18em;
      display: flex;
      justify-content: center;
    }

    label {
      font-size: 0.9em;
      color: #767676;
    }

    input {
      outline: none;
      background: #ededed;
      border: none;
      border-radius: 15px;
      padding: 0.8em;
      width: 18em;
      font-family: "Inter", sans-serif;
      border: 1px solid #C4C4C4
    }
  }

  .contact-title {
    text-align: center;

    div {
      font-weight: 500;
      color: #878787;
      font-size: 1.2em;
    }

    h1 {
      font-size: 2.2em;
      color: #767676;
    }
  }

  .message {
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 800px) {
  body {
    font-size: 0.8em;
  }

  .contact-title {
    h1 {
      font-size: 1.5em;
    }
  }

  .message {
    font-size: 0.8em;
  }

  form {
    max-width: 80%;

    h1 {
      text-align: center;
    }

    button {
      margin-top: 1em;
    }
  }

  .form-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .left-form {
    div {
      margin-bottom: 1em;
    }
  }

  .right-form {
    margin: 0 auto;
  }

  input {
    width: 100%;
  }
}