@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
html,body{
    background: #F3FAFF;
    font-family: 'Poppins', sans-serif;
}
::selection{
    color: #fff;
    background: #F3FAFF;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container .form{
    background: #fff;
    padding: 50px 50px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(133, 133, 133, 0.2), 0 6px 20px 0 rgba(136, 136, 136, 0.19);
}
.container .form form .form-control{
    height: 40px;
    font-size: 13px;
    border-radius: 50px;
}
.container .form form .h2-text {
    color: #767676;
    font-weight: 500;
    margin-left: 5px;
    margin-bottom: 1.8px;
    font-size: 25px;
    text-align: left;
}
.container .form form .p-text {
    color: #767676;
    margin-left: 5px;
    font-size: 11px;
    text-align: left;
}
.container .form form .p1-text {
    font-weight: 500;
    color: #767676;
    margin-left: 5px;
    margin: 10px 0 10px 0;
    font-size: 12px;
    text-align: center;
}
.container .form form .text-verify {
    background-color: #CAFCCF;
    color: #6F9272;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
}
.container .form form .forget-pass{
    font-weight: 500;
    margin: -20px 0 10px 0;
}
.container .form form .forget-pass a{
    text-align: right;
    font-size: 12px;
}
.container .form form .button{
    background: #36ABFF;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.3s ease;
}
.container .form form .button:hover{
    background: #3acde0;
}
.container .form form .link{
    padding: 5px 0;
}
.container .form form .link a{
    color: #48B2FE;
}
.container .login-form form p{
    font-size: 12px;
}
.container .row .alert{
    font-size: 12px;
}
